<!DOCTYPE html>
<html>
<head>
  <title>Sispropi</title>
  <%= stylesheet_link_tag    "xapplication", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "xapplication", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
